.dashboard-container {
  font-family: "Arial, sans-serif";
  padding: 20px;
  padding-left: 30px;
  background-color: #fafafa;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 1200px;
  margin-bottom: 20px;
}
.welcome-card {
  background-color: #ffe082;
  padding: 20px;
  border-radius: 15px;
  width: 1000px ;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-card h2 {
  margin-top: 10px;
  color: #333;
}

.date {
  color: #888;
  font-size: 14px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap: 10px;
}

.stat {
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-label {
  font-size: 14px;
  color: #555;
}

.stat-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.leaderboard {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leader {
  background-color: #444;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
}

.view-ranks {
  margin-top: 10px;
  background-color: #fff;
  color: #333;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.view-ranks:hover {
  background-color: #eee;
}

.upcoming-quizzes {
  margin-top: 20px;
}

.quizzes {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.quiz-card {
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 150px;
}
